$border-color: rgb(217 217 217);
$default-color-light: rgb(160 160 160);
$default-color: rgb(30 30 30);
$bg-color: rgb(241 244 248);
$bg-white: #fff;
$bg-green: rgb(101 201 121);
$bg-red: rgb(215 88 70);
$bg-gray: rgb(187 189 191);
$bg-grad: -webkit-linear-gradient(
                0deg,
                rgb(22, 29, 46) 30%,
                rgb(40, 57, 82) 70%
);
$bg-221223226: rgb(221 223 226);
$bg-132133134: rgb(132 133 134);
$bg-237237237: rgb(237 237 237);
$bg-217217217: rgb(217 217 217);

%clearFix {
  &::after {
    content: "";
    clear: both;
    display: block;
  }
}
